/**
 * Posts styles, for BardCanvas
 *
 * @package    HNG2
 * @subpackage core
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

/* Slider, for the home page */

#posts_slider {
    font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
    margin-bottom: 20px; background-color: white;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
}

#quick_post_form_container {
    margin-bottom: 20px; background-color: white;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
}

/* Common meta areas */

.meta_box { padding: 10px 10px 5px 10px; }

.meta_box .user_avatar {
    float: left;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    /*border-radius: 42px;*/
}

.meta_box .meta_field {
    display: inline-block; padding: 2px 4px;
}

.meta_box .meta_field.dimmed {
    color: dimgrey;
}

.meta_box .meta_field.important {
    color: maroon;
}

.meta_box .meta_section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 16px;
    padding: 1px;
}

.meta_box .meta_section.upper {
    font-size: 11pt;
}

/* Posts */

#posts_pagination {
    font-family: 'Lora', sans-serif;
    font-size: 14pt;
    line-height: 1em;
}

#posts_pagination a {
    text-decoration: none;
}

#posts_pagination a[disabled] {
    cursor: default;
    color:  grey;
}

.posts_index article                          { margin-bottom: 20px; background-color: white;
                                               -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
                                               -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
                                               box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25); }
.posts_index article h1                       { margin: 0; padding: 5px 10px; }
.posts_index article .post_featured_image     { padding: 5px 10px; }
.posts_index article .post_featured_image img { width: 100%; }
.posts_index article .post_contents           { padding: 5px 10px 10px 10px; }
.posts_index article .post_contents *         { margin-top: 1px; margin-bottom: 1px; }

body#tinymce blockquote,
article .post_contents blockquote,
#post_comments .comment_entry .content blockquote {
    margin-left: 20px;
    padding: 10px 10px 10px 20px;
    background-color: #efefef;
    border-left: 5px solid silver;
    color: grey;
}

article.single_post, .content_frame {
    margin-bottom: 20px; background-color: white; padding: 10px;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25);
}

/* Single post overrides */

.single_post h1         { margin-bottom: 0; }
.single_post .meta_box  { margin-bottom: 20px; }

.single_post img   { max-width: 100%; }
.single_post video { max-width: 100%; max-height: 90vh; }

/* ======= */
/* INDEXES */
/* ======= */

/* Featured posts, only on the home */

.featured_post                { display: block;
                                background-color: white; margin-bottom: 10px;
                                -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
                                -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
                                box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25); }
.featured_post h3             { padding: 5px; margin: 0; font-size: 10pt; line-height: normal; }
.featured_post .thumbnail     { display: block; border: none; }
.featured_post .thumbnail img { width: 100%; border: none; }

/* By default, they're above the contents (For portrait mobiles) */

#featured_posts_column { display: block; float: none; padding-left: 0; }

/* They're on from 720px wide and above */

/* Responsiveness */

#home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper {
    float: left;
}

@media all and (min-width: 1367px) and (max-width: 99999px)
{
    #home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper   { width: 70%; }
    #home_index_wrapper[data-with-featured-posts="true"] #featured_posts_column { width: 30%; display: block; float: right; padding-left: 10px; }
}

@media all and (min-width: 1281px) and (max-width: 1366px)
{
    #home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper   { width: 65%; }
    #home_index_wrapper[data-with-featured-posts="true"] #featured_posts_column { width: 35%; display: block; float: right; padding-left: 10px; }
}

@media all and (min-width: 1025px) and (max-width: 1280px)
{
    #home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper   { width: 63%; }
    #home_index_wrapper[data-with-featured-posts="true"] #featured_posts_column { width: 37%; display: block; float: right; padding-left: 10px; }
}

@media all and (min-width: 769px) and (max-width: 1024px)
{
    #home_index_wrapper[data-with-featured-posts="true"] #posts_index_wrapper   { width: 68%; }
    #home_index_wrapper[data-with-featured-posts="true"] #featured_posts_column { width: 32%; display: block; float: right; padding-left: 10px; }
}

@media all and (min-width: 100px) and (max-width: 480px)
{
    /* Sidebar is hidden here. We must adjust the content width. */
    #content { width: 100%; }
}

@media all and (min-width: 260px) and (max-width: 768px)
{
    .featured_post              { display: inline-block; vertical-align: top; 
                                  width: calc(50% - 8px); margin-right: 10px; }
    .featured_post:nth-child(2) { margin-right: 0; }
}

/* Archives: Two columns for large displays */

@media all and (min-width: 1281px) {
    body[data-listing-type="archive"] .posts_index article ,
    .posts_index[data-is-front-page="false"] article {
        float: left;
        width: calc(50% - 5px);
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
    }

    body[data-listing-type="archive"] .posts_index article:nth-child(even) ,
    .posts_index[data-is-front-page="false"] article:nth-child(even) {
        margin-right: 0;
    }
}

/* Comments on single posts */

#post_comments .comment_entry                { margin-top: 10px; padding-top: 10px; 
                                               border-top: 2px solid silver; }
#post_comments .comment_entry.single_preview { margin-top: 0; padding-top: 0; 
                                               border-top: none; }
#post_comments .comment_entry:first-child    { margin-top: 0; }
#post_comments .comment_entry .content       { margin-left: 67px; }
#post_comments .comment_entry .comment_reply { margin-left: 67px; margin-top: 10px; }

#post_comments .comment_entry[data-indent-level="2"] { margin-left:  66px; }
#post_comments .comment_entry[data-indent-level="3"] { margin-left: 132px; }
#post_comments .comment_entry[data-indent-level="4"] { margin-left: 198px; }
#post_comments .comment_entry[data-indent-level="5"] { margin-left: 264px; }

#post_comments .comment_entry .content p     ,
body#tinymce .comment_quote p                { margin-top: 2px; margin-bottom: 2px; }

#post_comments .comment_entry .content img { max-width: 100%; }

/* Generic elements */

.simple_entries_listing .date        { color: grey; }
.simple_entries_listing .date:before { content: '[' }
.simple_entries_listing .date:after  { content: ']:' }

/* Quick posts form */

#quick_post_form_container form .field                         { margin-bottom: 5px; }
#quick_post_form_container form .field:last-child              { margin-bottom: 0; }
#quick_post_form_container form .field.attachments             { margin-bottom: 0; }

#quick_post_form_container form .field[data-field="title"]     { margin-bottom: 0; line-height: 0; }
#quick_post_form_container form .rest                          { margin-top: 5px; }

#quick_post_form_container form .field.attachments .attachment {
    white-space: nowrap; margin: 0 5px 5px 0;
}

/* Etc */

article.pinned, .featured_post.pinned { border: 2px solid #990d0d; border-left: 6px solid #990d0d;
                                        background-color: whitesmoke; }
ul.post_comments { padding-left: 22px; font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
                   font-size: 11pt; line-height: 1.1em; margin-top: 10px; }
ul.post_comments .emojione { height: 1em; }
