/**
 * Base template - Base styles
 *
 * @package    HNG2
 * @subpackage core
 * @author     Alejandro Caballero - lava.caballero@gmail.com
 */

@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Prompt:400,400i,700,700i|Roboto+Condensed:400,400i,700,700i|Roboto:400,400i,700,700i|Ubuntu+Mono:400,400i,700,700i&subset=latin-ext';

body     { font-family: 'Prompt', sans-serif; font-size: 12pt; background-color: #E5E5E5; }
th       { font-family: 'Roboto', sans-serif; font-size: 11pt; }
td       { font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif; font-size: 11pt; }
#header  { font-family: 'Roboto', sans-serif; font-size: 12pt; }
#footer  { font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif; font-size: 11pt; }
#content { line-height: 1em; }

textarea, pre, .fixed_font, code { font-family: 'Ubuntu Mono', 'Lucida Console', 'Courier new', 'Courier', monospace; font-size: 10pt; }
textarea.no_fw_font              { font-family: 'Prompt', sans-serif; font-size: 12pt; }

h1 { font-family: 'Lora', sans-serif; font-size: 14pt; line-height: 1em; }
h2 { font-family: 'Lora', sans-serif; font-size: 13pt; line-height: 1em; }
h3 { font-family: 'Lora', sans-serif; font-size: 12pt; line-height: 1em; }

#post_form  textarea[name="title"]  { font-family: 'Lora', sans-serif;   font-size: 18pt; min-height: 34px; height: 34px; }
#media_form textarea[name="title"]  { font-family: 'Lora', sans-serif;   font-size: 18pt; min-height: 34px; height: 34px; }
#post_form textarea[name="excerpt"] { font-family: 'Prompt', sans-serif; font-size: 12pt; min-height: 30px; height: 30px; }

body.mce-content-body { background-color: white; margin: 0 10px; }

/* Emojione adjustments */

body     .emojione { height: 12pt; }
th       .emojione { height: 11pt; }
td       .emojione { height: 11pt; }
#header  .emojione { height: 12pt; }
#footer  .emojione { height: 11pt; }

.fixed_font   .emojione ,
code          .emojione { height: 10pt; }

h1 .emojione { height: 14pt; }
h2 .emojione { height: 13pt; }
h3 .emojione { height: 12pt; }

/* Admin - modules manager */

#modules_listing tr {
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25);
}

/* Admin - settings manager */

.settings_group {
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         1px 1px 5px 0 rgba(0, 0, 0, 0.25);
}

/* Thumbnail placeholders */

.thumbnail { border: 1px solid; background-color: transparent; }

.nav_table .thumbnail     { display: inline-block; }
.nav_table .thumbnail img { width: 230px; }

.posts_index .thumbnail     { border: none; }
.posts_index .thumbnail img { width: 100%; }

/* User profile styles */

#user_profile_area    { background-color: white; box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25); }
#user_profile_heading { background: #990d0d center center no-repeat; background-size: cover;
                        width: 100%; height: 300px; display: table; }

#user_profile_area .details                { width: 100%; height: 300px; padding: 0 10px 10px 195px;
                                             display: table-cell; text-align: left; vertical-align: bottom;
                                             color: white; font-weight: bold; text-shadow: 2px 2px 5px black; }
#user_profile_area .display_name           { font-size: 20pt; margin-bottom: 5px; }
#user_profile_area .display_name .emojione { height:    20pt; }
#user_profile_area .handler                { font-size: 14pt; margin-bottom: 5px; }
#user_profile_area .extras                 { font-size: 12pt; }

#user_profile_area .avatar     { background-color: white; padding: 5px;
                                 border: 1px solid silver; border-radius: 3px;
                                 display: inline-block; position: absolute; margin-top: 165px; margin-left: 20px; }
#user_profile_area .avatar img { width: 150px; height: 150px; }

#user_profile_tabs              { min-height: 45px; margin-bottom: 20px; margin-left: 190px; margin-top: 5px;
                                  padding-bottom: 5px; }
#user_profile_tabs .tab         { display: inline-block; padding: 5px 8px; text-align: center; color: #990d0d;
                                  border-radius: 3px; }
#user_profile_tabs .tab.current { color: white; background-color: #990d0d; }

/* Signatures, for both base pages and tinymce */

.author_signature                         { margin-top: 20px; padding-top: 10px; padding-right: 20px;
                                            border-top: 2px solid silver; display: inline-block; width: auto;
                                            font-family: 'Roboto', sans-serif; font-size: 11pt; line-height: normal; }
body#tinymce[data-id="account_signature"] { font-family: 'Roboto', sans-serif; font-size: 11pt; line-height: normal; }

.author_signature *, body#tinymce[data-id="account_signature"] *                 { margin-top: 1px; margin-bottom: 1px; }
.author_signature .emojione, body#tinymce[data-id="account_signature"] .emojione { height: 11pt; }
